<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<!-- 
	<servlet>
		<servlet-name>Martin</servlet-name>
		<servlet-class>com.kunal.SourceServlet</servlet-class>

	</servlet>

	<servlet-mapping>
		<servlet-name>Martin</servlet-name>
		<url-pattern>/ss</url-pattern>
	</servlet-mapping>

 -->
  

	<servlet>
		<servlet-name>Servlet2</servlet-name>
		<servlet-class>com.kunal.Servlet2</servlet-class>
		<init-param>
			<param-name>userName</param-name>
			<param-value>root</param-value>
		</init-param>

		<init-param>
			<param-name>password</param-name>
			<param-value>root</param-value>
		</init-param>

		<init-param>
			<param-name>url</param-name>
			<param-value>jdbc:mysql://localhost:3307/ctspune</param-value>
		</init-param>
		<init-param>
			<param-name>driver</param-name>
			<param-value>com.mysql.cj.jdbc.Driver</param-value>
		</init-param>
	</servlet>
<!--  
	<servlet>
		<servlet-name>DbConnection</servlet-name>
		<servlet-class>com.kunal.ConnectionServlet</servlet-class>
		<init-param>
			<param-name>userName</param-name>
			<param-value>root</param-value>
		</init-param>

		<init-param>
			<param-name>password</param-name>
			<param-value>root</param-value>
		</init-param>

		<init-param>
			<param-name>url</param-name>
			<param-value>jdbc:mysql://localhost:3307/ctspune</param-value>
		</init-param>
		<init-param>
			<param-name>Driver</param-name>
			<param-value>com.mysql.cj.jdbc.Driver</param-value>
		</init-param>
	</servlet>
-->
	<servlet-mapping>
		<servlet-name>Servlet2</servlet-name>
		<url-pattern>/Servlet2</url-pattern>
	</servlet-mapping>
	







</web-app>